@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,400&display=swap');

*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
:root{
    --clr-Bg-color: #d8f3dc;
    --clr-primary: #d9ed92;
    --clr-text: #081c15;
    --clr-paragraph: #2d6a4f;
    --ff-main: 'Open Sans', sans-serif;
}

html{
    font-size: 16px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style: none;
}

body{
    font-family: var(--ff-main);
    background-color: var(--clr-Bg-color);
    width: 100vw;
    height: 100vh;
}

img{
    width:100%;
    height: auto;
}


/* Navbar */

.navbar{
    width: 100%;
    height: 5rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 1rem;
    align-items: center;
    /* position: fixed; */
    margin-bottom: 3rem;
}

.navbar .nav_left img{
    width: 2.5rem;
    height: auto;
    border-radius: 50%;
}

.navbar .nav_left{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar .nav{
    display: none;
}


.navbar .nav_left a{
    font-size: 1rem;
    color: var(--clr-text);
    cursor: pointer;
    font-weight: 600;
}

.navbar .nav_left a:hover{
    border-bottom: 2px solid var(--clr-primary);
}

#mobile_menu{
    font-size: 1.6rem;
    color: var(--clr-text);
    cursor: pointer;
}


/* Mobile Menu */

/* .nav {
  display: block;
}

.nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background-color: #20272e;
  padding: 1rem;
 height: 100vh;
} */


/* Objective */

.objective {
    text-align: center;
    margin-bottom: 3rem;
}

.objective h2{
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
    color: var(--clr-text);
    margin-bottom: 1rem;
}

.objective p{
    font-size: 1rem;
    color: var(--clr-paragraph);
    padding: 0rem 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.objective .projects_btn{
    padding: 0.8rem 3rem;
    font-size: 0.8rem;
    font-weight: 900;
    color: var(--clr-text);
    background-color: var(--clr-primary);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.objective .projects_btn:hover{
    border: 2px solid var(--clr-text);
}


/* Social Media Icons */

.social_media_icon{
    display: none;
}

/* About */

.about{
    text-align: center;
    margin-bottom: 2rem;
}

.about h2{
    font-size: 1.5rem;
    color: var(--clr-text);
    margin-bottom: 0.5rem;
}

.about p{
    font-size: 0.9rem;
    color: var(--clr-paragraph);
    padding: 0rem 1.5rem;

}

/* about_description */

.about_description{
    text-align: center;
}

.know_me h2{
   font-size: 1.1rem;
   color: var(--clr-text);
   margin-bottom: 0.5rem;
}

.know_me p{
    font-size: 0.9rem;
    color: var(--clr-paragraph);
    width: 90%;
    margin:0rem auto 3rem auto;
}


/* My skills */

.my_skills h2{
    font-size: 1.5rem;
    color: var(--clr-text);
    margin-bottom: 1rem;
}

.my_skills ul li{
    font-size: 0.8rem;
    font-weight: 900;
    border: 2px solid var(--clr-paragraph);
    color: var(--clr-paragraph);
    width: max-content;
    margin: auto;
    padding: 0.3rem 0.9rem;
    border-radius: 5px;
}

.first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.3rem;

}


.second{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.my_skills{
    margin-bottom: 3rem;
}

/* Projects */

.projects_title{
    text-align: center;
    margin-bottom: 2rem;
}

.projects_title h2{
    font-size: 1.5rem;
    color: var(--clr-text);
    margin-bottom: 0.5rem;
}

.projects_title p{
    font-size: 1rem;
    color: var(--clr-paragraph);
    padding: 0rem 1rem;
}

.projects{
    padding: 0rem 1rem;
    margin-bottom: 3rem;
}

.img_first img{
    border-radius: 15px;
}

.images_first{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.images_second img{
    width: 50%;
}

.images_second{
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
}

.images_second img{
    border-radius: 15px;
}

/* Contact */

.contact{
   width: 90%;
   margin: 0rem auto 2rem auto;
}

.contact h2{
   text-align: center;
   font-size: 1.5rem;
   color: var(--clr-text);
   margin-bottom: 1.5rem;
}

.inputs{
    padding-left: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    background-color: white;
    border-radius: 10px;    
}

.inputs label{
    display: block;
    font-size: 0.8rem;
    color: var(--clr-primary);
    margin-top: 1rem;
    width: 90%;
    text-align: left;
    margin-bottom: 0.3rem;
}

input[type="Text"]{
    padding: 0.7rem 0.5rem ;
    width: 90%;
    border: none;
    border-bottom: 2px solid var(--clr-Bg-color);
}

input[type="email"]{
    padding: 0.7rem 0.5rem ;
    width: 90%;
    border: none;
    border-bottom: 2px solid var(--clr-Bg-color);
}

#textarea{
    width: 90%;
    padding: 0.7rem 0.5rem ;
    border: none;
    box-shadow: 5px 5px 20px hsla(194, 77%, 38%,0.3);
    margin-bottom: 2rem;
    resize: none;
}


::placeholder{
font-size: 0.7rem;
font-family: var(--ff-main);
opacity: 0.5;
}

.submit_btn{
    padding: 0.8rem 4rem;
    margin: 1rem 0rem;
    border: none;
    background-color: var(--clr-primary);
    color: var(--clr-text);
    border-radius: 50px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
}

.submit_btn:hover{
    border: 3px solid var(--clr-primary);
    background-color: white;
    color: var(--clr-text);
}


/* Footer */

.footer{
    background-color: var(--clr-text);
    height: 10rem;
    text-align: center;
}

.footer_title h2{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.footer_icons{
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center; 
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.copy_right{
    color: #fff;
    font-size: 0.8rem
}

.copy_right a{
   color: #fff;
    text-decoration: underline;
}


@media screen and (min-width:768px){


    .navbar .nav_left .my_name{
        font-size: 1.2rem;
    }

    #mobile_menu{
        display: none;
    }

    .navbar .nav{
        display:inline;
    }

    .navbar .nav ul{
        display: flex;
    }

    .navbar .nav ul li{
        padding:0.3rem;
    }

    .navbar .nav ul li a{
     font-size: 0.8rem;
     font-weight: 700;
     color: var(--clr-text);
     margin: 0 15px;
     padding: 5px 10px;
     border-radius: 5px;
     cursor: pointer;
    }

     .navbar .nav ul li a:hover{
     color: var(--clr-Bg-color);
     }


      .objective h2{
        font-size: 2.5rem;
    }


  .about p{
       width: 75%;
       margin: auto;
    }

    .know_me p{
        line-height: 1.5rem;
        width: 80%;
        margin: 0 auto 2rem auto ;
    }
    
     .contact{
       width: 50%;
       margin: 0 auto 2rem auto;
   }

.projects{
    padding: 0rem 2rem;
    margin-bottom: 3rem;
}

.social_media_icon{
    font-size: 1rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 1rem;
    margin-top: -8rem;
    
}

}

@media screen and (min-width:1024px){

    .objective{
        margin-top: 10rem;
    }

    .objective h2{
        font-size: 3rem;
    }

    .objective p{
        font-size: 1.2rem;
    }
     
.social_media_icon{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 1rem;
    margin-top: -8rem;
}

    .about{
        margin-top: 8rem;
    }

    .about h2{
        font-size: 1.8rem;
    }

    .about p{
        width: 75%;
        margin: auto;
        font-size: 1.2rem;
    }

    .about_description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem auto 0rem auto;
        width: 80%;
    }

    .know_me h2{
        font-size: 1.3rem;
        text-align: left;
        width: 80%;
        margin: 0 auto 1rem auto;
    }

   .know_me p{
      text-align: left;
      padding-right: 0.5rem;
}

     .projects{
         margin-top: 2rem;
     }
    
    
    .project_imgs{
        width: 75%;
        margin: auto;
    }

    .contact{
        width: 50%;
        margin: 0 auto 2rem auto;
    }

    
}

@media screen and (min-width:1440px) {
    
.about p{
        width: 65%;
        margin: auto;
        font-size: 1.2rem;
    }


    .contact{
        width: 35%;
        margin: 0 auto 2rem auto;
    }
}